@import '/wp-content/plugins/wpp-ZF-Core/res/css/styles.less';

.brx-taxonomy_picker{
    border: 1px solid #dfdfdf;
    line-height: 19px;
    min-height: 19px ;  
    .border-radius(3px);
    background-color: white;
    ul.box_selected{
        display: none;
        margin: 2px 0 0;
        li{
            clear: both;
            float: left;
            margin: 0 10px 5px 25px;
            list-style: none;
            background: none;
            line-height: 18px;
            padding: 0;
            .ui-icon{
                float: left;
                margin: 0 0 0 -20px;
                cursor: pointer;
                vertical-align: baseline;;
                
            }
        }
    }
    
    .link_select{
        float: right;
        cursor: pointer;
        font-size: 10px;
        color: navy;
        margin: 2px 1em;
        text-decoration: underline;
    }
    
    .clearfloat{
        clear: both;
    }
    
}

.brx-taxonomy_picker-box_options{
    display: none;
    
    input.input_search{
        width: 100%;
        .box-sizing;
        height: 2em;
    }

    input.placeholder{
        color: #cccccc;
    }
    
    .nothing_found{
        display: none;
        margin: 1em;
        color: maroon;
    }
    
    ul.options{
        max-height: 300px;
        overflow-y: auto; 
        margin: 0;
        li{
            clear: both;
            margin: 6px 0 0;
            padding-right: 4px;
            list-style: none;
            input[type=checkbox]{
                float: left;
                /*margin-top: 4px;*/
                margin-left: 2px;
            }
            label{
                padding: 2px;
                display: block;
                line-height: normal;
/*                padding-left: 20px;*/
            }
            input[type=checkbox]+label{
                padding-left: 20px;
            }
            ul.children{
                margin-left: 16px;
            }
        }

        >li>label{
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 0.5ex;
        }

        >li>ul{
            margin-bottom: 1.1em;
        }

        li.state_highlight > label{
            background-color: #f1f1f1;
            .border-radius(3px);
        }

        > li.state_highlight > label{
            background-color: inherit;
        }
    }
    
    .box_links{
        height: 2em;
        margin-bottom: 1em;
        text-align: right;
        .link{
            display: none;
            cursor: pointer;
            text-decoration: underline;
            color: navy;
            font-size: 10px;
        }
        .link_show_all{

        }
        .link_show_search{

        }
        .link_show_selected{

        }
    }
    .button_pane{
        height: 40px;
        
        .info{
            float: left;
            line-height: 30px;
            .box_count_selected{
                float: left;
                margin-right: 1.2em;
                .view_selected{

                }
            }
            .box_count_left{
                float: left;
                .view_left{

                }
            }
        }
        
        .buttons{
            float: right;
        }
    }
}
