<div class="error-not_found_404">
<?php if($this->post):?>
    <h2><?php echo $this->post->getTitle();?></h2>
    <div classs="content"><?php echo $this->post->getContent();?></div>
<?php else: ?>
<h2>Страница не найдена</h2>
<div>
    <p>Это могло произойти по следующим причинам:</p>
    <ul>
        <li>страница была удалена или переименована,</li>
        <li>страница никогда не существовала,</li>
        <li>у Вас была неправильная ссылка. </li>
    </ul>

    <!--h3>Что делать в этом случае?</h3>
    <ul>
        <li>перейдите на <a href="/">Главную страницу</a></li>
        <li>воспользуйтесь Поиском,</li>
        <li>сообщите Админу о битой ссылке. Спасибо!</li>
    </ul-->
</div>
<?php endif;?>
</div>