<?php // LessCss::loadLessCss();?>
<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div class="wrap bem-zf_core-admin">
    <div id="icon-options-general" class="icon32">
        <br/>
    </div>
    <h2>Общие настройки ZF Core</h2>
</div>

<div class="brx-options_form" data-view="brx.OptionsForm" data-scope="" data-prefix="ZF-Core" style="display: none;">
    <div class="form_fields">
        <div class="form_field stretch field_nls_language" data-attach-point="fields.nlsLanguage">
            <label class="width35">Язык локализации:</label>
            <span class="form_field-input_box">
                <select>
                    <option value="auto">Определяется браузером</option>
                    <option value="ru-ru">Русский</option>
                    <option value="en-us">English</option>
                </select>
            </span>
            <div class="form_field-tips"></div>
        </div>
        <div class="form_field stretch field_minimize_media" data-attach-point="fields.minimizeMedia">
            <label class="width35">Минимизация статики:</label>
            <span class="form_field-input_box">
                <select>
                    <option value="0">Нет</option>
                    <option value="1">Да</option>
                </select>
            </span>
            <div class="form_field-tips"></div>
        </div>
        <div class="form_field stretch field_environment" data-attach-point="fields.environment">
            <label class="width35">Окружение:</label>
            <span class="form_field-input_box">
                <select>
                    <option value="production">Production</option>
                    <option value="staging">Staging</option>
                    <option value="testing">Testing</option>
                    <option value="development">Development</option>
                </select>
            </span>
            <div class="form_field-tips"></div>
        </div>
    </div>
    <div class="button_pane">
        <button class="button button-large button-primary" data-attach-event="saveOptions">Применить</button>
    </div>
</div>
<?php // WidgetHelper::renderMultiSpinner();?>
<?php // ZF_Core::addJQueryWidgets();?>
